<div class="row">
  <mat-card class="col-md-4 offset-md-4">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form [formGroup]='loginForm' class="flex-column">
        <mat-form-field>
          <input matInput id="userName" formControlName='userName' [formGroup]='loginForm' type="text" placeholder="User name">
          <mat-error>Required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput id="password" formControlName='password' [formGroup]='loginForm' type="password" placeholder="Password">
          <mat-error>Required</mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button [disabled]='loginForm.invalid' (click)='login()' color='primary'>Login</button>
    </mat-card-actions>
  </mat-card>
</div>
