/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/scss/bootstrap.scss";
html {
  height: 100%;
}

html,
body,
.root {
  margin: 0;
  flex-direction: column;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1;
  max-height: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.router-active,
.sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
