/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html {
	height: 100%;
}

html,
body,
.root {
	margin: 0;
	flex-direction: column;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex: 1;
	max-height: 100%;
}
